*{
   margin: 0;
   padding: 0;
}

   .text-block {
      background-color: blue;
      display: block;
      width: 227px;
      height: 211px;
      overflow: hidden;
  }
.text-block:hover {
   background-color: red;
}